<!-- Loop over each object in the stories array -->
{{#if stories}}
{{#each stories as |story| }}
<div class="card">
  <div class="card-content">
    <p class="title">
      {{story.title}}
    </p>
    <p class="subtitle">
      Started by {{user.username}} on {{format_date story.date_created}}. Published {{format_date date_published}}
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        Upvoted {{story.upvotes_count}} times!
      </span>
    </p>
    <a href="/story/{{story.id}}" class="card-footer-item">
      <span>
        Read Story...
      </span>
    </a>
  </footer>
</div>
{{/each}}
{{else}}
<div class="container has-text-centered">
<p class= "is-size-2">No stories published yet. Get writing!</p>
</div>
{{/if}}
